@CHARSET "UTF-8";

#left-side{
	float:left;
	border: 1px solid black;
	height: 700px;
	width: 150px;
}
}

#top {
	width: 850px;
	border-bottom: 1px solid black;
	float :left;
}

#top_header {
	float: left;
}

#subject-container {
	float: left;
}

#subject-list {
	border-bottom: 1px solid;
	width: 850px;
	height: 250px;
}

#subject-button {
	margin-top: 10px;
	margin-right: 10px;
	float:right;
}

